<!-- views/directors.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('header'); -%>
        <main>
            <h1><%= title %></h1>
            <% if (directors) { %>
                <ul>
                    <% directors.forEach(function(director) { %>
                        <a href= <%= `/directors/${director.id}` %> >
                            <li>Name: <%= director.name %> </li>
                        </a>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>There are no Directors in the Inventory</p>
            <% } %>
            <h2>Add New Director</h2>
            <form action="/directors" method="POST">
                <label for="name">Director: </label>
                <input type="text" name="name" id="name" value= "<%= locals.directorEntry === undefined ? '' : directorEntry.name %>"/>
                <button type="submit">Submit</button>
            </form>
            <% if (errors) { %>
                <ul>
                    <% errors.forEach(function(error) { %>
                        <li style="color: red;"><%= error.msg %></li>
                    <% });%>
                </ul>
            <% } %>
        </main>
        <%- include('footer'); -%>
    </body>
</html>