<!-- views/genres.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('header'); -%>
        <main>
            <h1><%= title %></h1>
            <% if (genres) { %>
                <ul>
                    <% genres.forEach(function(genre) { %>
                        <a href= <%= `/genres/${genre.id}` %> >
                            <li>Genre: <%= genre.genre %> </li>
                        </a>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>There are no Genres in the Inventory</p>
            <% } %>
            <h2>Add New Genre</h2>
            <form action="/genres" method="POST">
                <label for="genre">Genre: </label>
                <input type="text" name="genre" id="genre" required />
                <button type="submit">Submit</button>
            </form>
            <% if (errors) { %>
                <ul>
                    <% errors.forEach(function(error) { %>
                        <li style="color: red;"><%= error.msg %></li>
                    <% });%>
                </ul>
            <% } %>
        </main>
        <%- include('footer'); -%>
    </body>
</html>