<!-- views/movies.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <%- include('header'); -%>
        <main>
            <h1><%= title %></h1>
            <% if (movies) { %>
                <ul>
                    <% movies.forEach(function(movie) { %>
                        <a href= <%= `/movies/${movie.id}` %> >
                            <li>Title: <%= movie.title %> (<%= movie.yr_released %>)</li>
                        </a>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>There are no Movies in the Inventory</p>
            <% } %>
            <h2>Add New Movie</h2>
            <form action="/movies" method="POST">
                <label for="title">Title: </label>
                <input type="text" name="title" id="title" value= "<%= locals.movieEntry === undefined ? '' : movieEntry.title %>"/>
                <label for="year">Year Released: </label>
                <input type="text" name="year" id="year" value= "<%= locals.movieEntry === undefined ? '' : movieEntry.year %>"/>
                <button type="submit">Submit</button>
            </form>
            <% if (errors) { %>
                <ul>
                    <% errors.forEach(function(error) { %>
                        <li style="color: red;"><%= error.msg %></li>
                    <% });%>
                </ul>
            <% } %>
        </main>
        <%- include('footer'); -%>
    </body>
</html>
